<h1>New image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uploader %><br />
    <%= f.text_field :uploader %>
  </p>
  <p>
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <p>
    <% form_for :imege, :html => { :multipart => true } do |f| %>
    <%= f.file_field :image%>
  </p>
<% end %>
<% end %>

<%= link_to 'Back', images_path %>
