<p>
    <b> name:</b>
      <%=h @image.name %>
    </p>

  <b> uploader:</b>
  <%=h @image.uploader %>
</p>

<P>
  <%=image_tag @image.picture.url%>
  <%=image_tag @image.picture.url(:medium)%>
  <%=image_tag @image.picture.url(:thumb)%>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
