<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
  <title>kuvalauta</title>
  <%= stylesheet_link_tag "kuvalauta" , :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "kuvalauta" %>
  </div>
  <div id="columns">
  <div id="side">     
      <%= link_to 'loggin', :controller => 'log', :action =>'login'%>
      <%= link_to 'main page', :controller => 'kuvalauta'%>
      <% if session[:user_id] %>
          <%= link_to 'New image', :controller => 'images',:action => 'new' %>
          <%= link_to 'New User',  :controller => 'users',:action => 'new'%>
          <%= link_to 'Logout', :controller => 'log', :action => 'logout' %>
          <%= link_to 'Edit User', :controller => 'users' , :action => 'edit' %>    
      <% end %>
    </div>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
         <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>

