<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
  <title>kuvalauta</title>
  <%= stylesheet_link_tag "kuvalauta" , :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "kuvalauta" %>
  </div>
  <div id="columns">
  <div id="side">     
      <ul>
      <li><%= link_to 'loggin', :controller => 'log', :action =>'login'%></li>
      <li><%= link_to 'main page', :controller => 'kuvalauta'%></li>
      <% if session[:user_id] %>
      <li>    <%= link_to 'New image', :controller => 'images',:action => 'new' %></li>
      <li>    <%= link_to 'New User',  :controller => 'users',:action => 'new'%></li>
      <li>    <%= link_to 'Logout', :controller => 'log', :action => 'logout' %></li>
      <li>    <%= link_to 'Edit User',{ :controller => 'users' , :action => 'edit'} %></li>    
      <% end %>
      </ul>
    </div>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
         <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  <div id="search">
      <%form_tag controller => 'kuvalauta', :action => 'search', :method => 'get' do%>
      <%= text_field_tag :search, params[:search],:id =>'search_field'%>
      <%submit_tag "search"%>
  </div>

 </div>
</body>
</html>

